body{background-image:url(google.png);
    background-repeat: no-repeat;
    background-position-x: center ;
    background-position-y: 30%;
    
    }
    input{border-radius: 40px; height: 40px; text-indent: 7px; font-size: large; outline: transparent }
    form{text-align:center  }
    p{text-align: right}

    
  button{border-radius: 7px; padding: 10px; margin-top: 20px ;margin-right: 10px;background-color:transparent; outline: transparent}
  

  
